name = "sales-management-app"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

# D1 Database
[[d1_databases]]
binding = "DB"
database_name = "paymane"
database_id = "86832ec0-2602-4940-8ed9-8f0c81cce424"

